Repository HalbonLabs/halbon-saas-template, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, Docs, Test, Prisma, Next.js

chore(template): add .editorconfig/.gitattributes; keep workflows simple and valid
  .editorconfig
  .gitattributes
Labels: none

ci(sca): remove redundant Trivy install steps
  .github/workflows/sca-deps.yml
  .github/workflows/sca-full-weekly.yml
Labels: ci

ci(sca): consolidate into single workflow with deps + weekly jobs; docs updated
  .github/workflows/security-sca.yml
  README.md
Labels: ci, Docs

ci(sca): remove legacy SCA workflows in favor of consolidated security-sca.yml
  .github/workflows/sca-deps.yml
  .github/workflows/sca-full-weekly.yml
Labels: ci

ci(dashboard): fix majors dashboard workflow (checkout + explicit --repo)
  .github/workflows/renovate-majors-dashboard.yml
Labels: ci

ci(dashboard): ensure labels exist before updating majors dashboard
  .github/workflows/renovate-majors-dashboard.yml
Labels: ci

chore(renovate): enforce GitHub Actions digest pinning
  renovate.json
Labels: none

ci: pin actions/checkout to v4.1.6 commit SHA across workflows
  .github/workflows/ci.yml
  .github/workflows/renovate-majors-dashboard.yml
Labels: ci

ci: pin setup-node, cache, and codeql/upload-sarif to SHAs
  .github/workflows/ci.yml
  .github/workflows/security-sca.yml
  .github/workflows/semantic-pr.yml
Labels: ci

ci(release-drafter): pin to v6 tag commit and fix YAML indentation
  .github/workflows/release-drafter.yml
Labels: ci

ci(sca): allow manual workflow_dispatch runs for deps scan
  .github/workflows/security-sca.yml
Labels: ci

ci(sca): fix trivy-action pin to resolvable 0.20.0 commit
  .github/workflows/security-sca.yml
Labels: ci

ci(sca): ensure SARIF uploads occur before failing table scans
  .github/workflows/security-sca.yml
Labels: ci

ci: restore full OS+Node matrix with correct YAML indentation
  .github/workflows/ci.yml
Labels: ci

ci: fix matrix YAML indentation across jobs
  .github/workflows/ci.yml
Labels: ci

chore(security): override @types/json5 to 2.2.0 to eliminate CVE-2022-46175 finding via tsconfig-paths -> eslint-plugin-import
  package.json
  pnpm-lock.yaml
Labels: none

fix(security): force json5@2.2.2 via pnpm override to remediate CVE-2022-46175 in deps scan
  package.json
  pnpm-lock.yaml
Labels: none

docs(changelog): record Prisma lazy-init and /api/users guard
  CHANGELOG.md
Labels: Docs

fix(prisma): lazy-init Prisma client and guard /api/users when DATABASE_URL missing
  app/api/users/route.ts
  src/lib/prisma.ts
Labels: Next.js

chore(eslint): add Next shim .eslintrc for detection; integrate @next/eslint-plugin-next in flat config; clean up lint warnings
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/prisma.ts
  src/server/email/send.ts
  src/server/storage/putObject.ts
Labels: Next.js

build(next): skip lint during next build; rely on CI linting to avoid plugin detection noise
  next.config.mjs
Labels: none

docs: add comprehensive TEMPLATE-GUIDE and link from README; augment Copilot instructions for app development with this template
  .github/copilot-instructions.md
  README.md
  docs/TEMPLATE-GUIDE.md
Labels: Docs

docs: add CONTRIBUTING and Getting Started section in README
  CONTRIBUTING.md
  README.md
Labels: Docs

docs: add DEMO-PR to exercise CI and labeling
  docs/DEMO-PR.md
Labels: Docs

.github/labeler.yml:

# Auto-label PRs based on changed file paths
# https://github.com/actions/labeler

ci:
  - .github/workflows/**

Docs:
  - '**/*.md'

Test:
  - '**/*.test.*'
  - '**/__tests__/**'

Prisma:
  - 'prisma/**'

Next.js:
  - 'app/**'
  - 'src/**'
